/*--------------GENERAL STYLES--------------*/

body {
	background: #1D1D1D;
	overflow-x: hidden;
}
*:focus,
*:hover {
	outline: none !important;
}
p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}
ul {
    padding-inline-start: 0px;
}
a {
	text-decoration: underline;
	color: #5aaaff;
	transition: all 0.5s ease;
}
a.no_underline {
	text-decoration: none;
}
a:hover {
	color: #007bff;
}
/*Loader*/
.preloader-white,
.cge_loader {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	background: #fff;
	z-index: 2;
}
.cge_loader {
	background: transparent;
	z-index: 4;
}
.cge_loader img {
	height: 80vh;
	width: auto;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 4;
}
.pace {
    position: fixed;
    z-index: 3;
    height: 100vw;
    width: 100vw;
    top: 0;
    left: 0;
    transform: rotate(90deg);
}
.pace-inactive { 
	display: block !important;
}
.pace .pace-progress {
    background-color: #000;
	z-index: -1;
	transition: all 1s ease;
}
.preloader-white.anim_slidedown {
	/*top: -120vh;*/
	transform: translateY(100vh);
}
.cge_loader.anim_slidedown {
	transform: translateY(100vh);
}
.pace.anim_slidedown {
	transform: rotate(90deg) translateX(100vh);
}
/*Enable for debugging*/
.preloader-white, .pace, .pace-inactive, .cge_loader {
	transition: all 0.7s ease-in-out;
	/*display: none !important;*/
}
/*END LOADER*/
.navbar {
	background-color: transparent !important;
	height: 160px;
    padding-top: 50px;
    /*border-bottom: 2px solid black;*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    transition: all 0.5s ease;
}
.nav {
	height: 160px;
	align-items: baseline;
    transition: all 0.5s ease;
}
.nav-item {
	height: 45px;
	margin: 10px;
	transition: all 0.6s ease;
}
.navbar .logo {
	height: 60px;
    width: 150px;
	margin-top: 3px;
	margin-left: 35px;
	margin-right: 35px;
}
.navbar .logo img {
	width: 150px;
	height: auto;
}
.navbar .logo .white,
.navbar .logo .black {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: all 0.5s ease;
}
.navbar .logo .white {
	opacity: 1;
}
.navbar .logo .black {
	opacity: 0;
}
.navbar .nav-item .nav-link {
	color: #fff;
	text-transform: uppercase;
	font-size: 15px;
	letter-spacing: 2px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	text-decoration: none;
}
.navbar-brand {
	display: none;
}
.navbar .navbar-toggler .icon-bar {
	background-color: #3b3b3b;
}
/*---------SMALL STYLES-------*/
.navbar.small {
	background-color: rgba(255, 255, 255, 0.9) !important;
	height: 125px;
    padding-top: 15px;
    box-shadow: -1px 2px 19px 0px rgba(0,0,0,0.75);
}
.navbar.small .nav {
	height: 120px;
}
.navbar.small .nav-item .nav-link {
	color: #000;
}
.navbar.small .logo .white {
	opacity: 0;
}
.navbar.small .logo .black {
	opacity: 1;
}
/*.navbar.small .navbar-toggler {
	margin-top: -20px;
}*/

/* ANIMATED X */
.navbar-toggler {
	border: none;
	position: fixed;
	right: 10px;
	height: 30px;
	transition: all 0.5s ease;
}
.navbar-toggler:hover {
	background: transparent !important;
}
.navbar-toggler .icon-bar {
	width: 22px;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	background-color: #fff;
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    margin-top: 4px;
}
.navbar-toggler.x .icon-bar:nth-of-type(1) {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transform-origin: 10% 10%;
	-ms-transform-origin: 10% 10%;
	transform-origin: 10% 10%;
}
.navbar-toggler.x .icon-bar:nth-of-type(2) {
	opacity: 0;
	filter: alpha(opacity=0);
}
.navbar-toggler.x .icon-bar:nth-of-type(3) {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transform-origin: 10% 90%;
	-ms-transform-origin: 10% 90%;
	transform-origin: 10% 90%;
}
/* ANIMATED X COLLAPSED */
.navbar-toggler.x[aria-expanded="false"] .icon-bar:nth-of-type(1) {
	-webkit-transform: rotate(0);
	-ms-transform: rotate(0);
	transform: rotate(0);
}
.navbar-toggler.x[aria-expanded="false"] .icon-bar:nth-of-type(2) {
	opacity: 1;
	filter: alpha(opacity=100);
}
.navbar-toggler.x[aria-expanded="false"] .icon-bar:nth-of-type(3) {
	-webkit-transform: rotate(0);
	-ms-transform: rotate(0);
	transform: rotate(0);
}
/* END ANIMATED X */
/*-----------MAIN SECTION STYLES----------*/

.main-banner {
	position: relative;
	height: 100vh;
}
.main-banner, .about, .tickets, .faq, .contact {
	overflow: hidden;
}
.pattern_overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(17,51,90,.2);
	background-image: url(../img/pattern2.png);
	z-index: -1;
}
.background_video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
  	min-height: 100%;
    z-index: -1;
    opacity: 1;
    transition: all 0.5s ease;
}
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgb(2,0,36);
	background: linear-gradient(0deg, rgba(2,0,36,0) 0%, rgba(0,0,0,0.2) 60%);
}
.ticket-button {
	position: absolute;
	bottom: 10vh;
	left: 50%;
	transform: translate(-50%, 0%);
	border: 2px solid #fff;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	background: transparent;
	/*background: rgba(0, 0, 0, 0.5);*/
	color: #fff;
	padding: 20px;
	letter-spacing: 2px;
	z-index: 2;
}
/*--------RIPPLE EFFECTS-------*/

#container, #water {
 	background-image: url('../img/front_one.jpeg');
 	background-position: center bottom;
 	background-size: 100%;
 	background-repeat: no-repeat;
}
#container {
 	position: absolute;
 	top: calc(50% - 55vh);
 	left: calc(50% - 60vw);
 	height: 110vh;
 	width: 120vw;
 	margin-top: -40px;
}
#container:after {
	position: absolute;
	top: 10%;
	left: 2.5%;
	z-index: -1;
	content: '';
	display: block;
	height: 95%;
	width: 95%;
	background: #0f0f0f;
	filter: blur(30px);
}
#container #water {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 20vh;
	filter: url('#turbulence');
	overflow: hidden;
}
#canvas {
  /* make the canvas wrapper fits the window */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  opacity: 0.5;
  pointer-events: none;
}
.plane {
  /* define the size of your plane */
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.plane img {
  /* hide the img element */
  display: none;
  height: 100%;
}
/*animation: kenburns 110s infinite linear;*/

/* Rotate is needed for IE, otherwise it is jumpy */
/*@keyframes kenburns {
  50% {
    transform: scale(1.3) rotate(0.04deg);
  }*/
/*-----------ABOUT SECTION STYLES----------*/

.about {
	height: auto;
	background: #fff;
}
.text-container {
	max-width: 960px;
	margin: 0 auto;
	padding: 40px;
	text-align: center;
}
.text-container h1,
h2 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	letter-spacing: 2px;
	text-align: center;
	margin-bottom: 30px;
}
.image-container {
	display: flex;
	justify-content: center;
	margin-top: 30px;
}
figure {
	width: 200px;
	height: 200px;
	overflow: hidden;
	margin: 10px;
	-webkit-box-shadow: 2px 3px 26px 8px rgba(0,0,0,0.35);
	-moz-box-shadow: 2px 3px 26px 8px rgba(0,0,0,0.35);
	box-shadow: 2px 3px 26px 8px rgba(0,0,0,0.35);
	transition: all 0.6s ease;
	backface-visibility: hidden;
	transform: translateZ(0);
}
figure.no_anim {
	opacity: 1;
	animation: none;
}
figure img {
	height: 100%;
}
.first, .second, .third, .fourth {
	opacity: 0;
}
figure.add_anim {
	animation: fadeIn 0.4s linear forwards;
}
.first {
	animation-delay: 400ms !important;
}
.second {
	animation-delay: 700ms !important;
}
.third {
	animation-delay: 1000ms !important;
}
.fourth {
	animation-delay: 1300ms !important;
}
figure:hover {
	transform: translateZ(0) scale3d(1.05, 1.05, 1);
	box-shadow: unset;
}
@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: scale(1.1);
	}
	100% {
		opacity: 1;
		transform: scale(1.0);
	}
}
/*-----------TICKET SECTION STYLES----------*/

.tickets {
	height: auto;
	position: relative;
	overflow: hidden;
	padding-bottom: 30px;
}
.tickets .text-container h1 {
	color: #fff;
}
.tickets .package_info {
	color: #fff;
	width: 90vw;
  	max-width: 720px;
	text-align: left;
	background: rgba(0, 0, 0, 0.7);
	padding: 40px;
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	-webkit-box-shadow: 2px 3px 26px 8px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 3px 26px 8px rgba(0,0,0,0.75);
	box-shadow: 2px 3px 26px 8px rgba(0,0,0,0.75);
	transform: translateY(80px);
	opacity: 0;
	transition: all 0.5s ease;
}
.tickets .package_info.show {
	transform: translateY(0px);
	opacity: 1;
}
.tickets .package_info p {
	text-align: center;
	margin-bottom: 20px;
	font-size: 20px;
}
.tickets .package_info li {
	list-style-type: none;
	font-size: 18px;
	margin-bottom: 5px;
}
.tickets .package_info li:before {
	content: "\2705";
	padding-right: 10px;
}
.tickets .package_info .nested {
    padding-inline-start: 40px;
}
.tickets .package_info .nested .champagne:before {
	content: "\1F37E";
}
.tickets .package_info .nested .beer:before {
	content: "\1F37B";
}
.tickets .package_info .nested .cocktails:before {
	content: "\1F378";
}
.tickets .package_info .nested .bar:before {
	content: "\1F376";
}
.ticket-button-small {
    display: block;
    margin: 0 auto;
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
    padding: 5px 10px;
    border-radius: 6px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    /*font-size: 25px;*/
    margin-top: 40px;
    margin-bottom: 10px;
}
/*PARALLAX*/
.parallax-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}
/*.parallax.fix {
  background-attachment: scroll !important;
  height: 60vh;
  position: relative;
  min-height: 300px;
  background-size: cover !important;
  background-color: unset !important;
}*/
.parallax .overlay {
    position: absolute;
    top: 0;
    left: 0;
    /* opacity: 0.3; */
    z-index: 1;
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(top, rgba(92, 92, 92, 0.5) 0%, rgba(0, 15, 90, 0.5) 100%);
    /* background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0, 15, 90, 0.5)), color-stop(100%,rgba(92, 92, 92, 0.5))); */
    /* background: -webkit-linear-gradient(top, rgba(92, 92, 92, 0.5) 0%,rgba(0, 15, 90, 0.5) 100%); */
    background: -o-linear-gradient(top, rgba(92, 92, 92, 0.5) 0%,rgba(0, 15, 90, 0.5) 100%);
    background: -ms-linear-gradient(top, rgba(92, 92, 92, 0.5) 0%,rgba(0, 15, 90, 0.5) 100%);
    /* background: linear-gradient(to bottom, rgba(92, 92, 92, 0.5) 0%,rgba(0, 15, 90, 0.5) 100%); */
    /* background: linear-gradient(to bottom, rgba(92, 92, 92, 0.5) 0%,rgba(0, 15, 90, 0.5) 100%); */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002f4b', endColorstr='#00000000',GradientType=0 );
    background: rgba(0, 0, 0, 0.5);
}
.parallax {
  position: relative;
  height: 150vh;
  width: 100%;
}
/*-----------FAQ SECTION STYLES----------*/

.faq {
	height: auto;
	background: #e7e7e7;
}
ul { 
	list-style-type: none; 
}
/*.faq .pull_left,
.faq .pull_right {
	width: 45%;
}
.faq .pull_left {
	float: left;
}
.faq .pull_right {
	float: right;
}*/
.accordion {
  width: 90vw;
  max-width: 490px;
  margin: 0 auto;
  background: #f4f4f4;
  /*-webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;*/
}
.accordion .link {
  cursor: pointer;
  display: block;
  padding: 15px 15px 15px 50px;
  color: #4D4D4D;
  font-size: 14px;
  font-weight: 700;
  border-bottom: 1px solid #CCC;
  position: relative;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.accordion li:last-child .link { 
	border-bottom: 0; 
}
.accordion li i {
  position: absolute;
  top: 16px;
  left: 12px;
  font-size: 18px;
  color: #595959;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.accordion li i.fa-chevron-down {
  right: 12px;
  left: auto;
  font-size: 16px;
}
.accordion li.open .link { 
	color: #000; 
}
.accordion li.open i { 
	color: #000; 
}
.accordion li.open i.fa-chevron-down {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.submenu {
  display: none;
  background: #1b1b1b;
/*  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;*/
  font-size: 14px;
}
.submenu li { 
	color: #fff;
	text-align: left;
	padding: 20px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	/*border-bottom: 1px solid #4b4a5e;*/
	/*box-shadow: inset 1px 6px 24px 2px rgba(0,0,0,0.75);*/
}
img.coming_soon {
	margin-top: 50px;
	width: 350px;
	border: 10px solid #fff;
}
/*-----------CONTACT SECTION STYLES----------*/
.contact {
	position: relative;
	height: auto;
	padding-bottom: 50px;
	padding-top: 50px;
}
.cartier-list-container {
	width: 90vw;
	max-width: 600px;
	border: 1px solid #fff;
	padding: 20px;
	margin: 0 auto;
	overflow: hidden;
}
.contact .cartier-list-container {
	/*background: rgba(0, 0, 0, 0.6);*/
	border: none;
	padding: 60px 0px;
}
.cartier-list-container h2,
.cartier-list-container p {
	color: #fff;
	text-align: center;
}
.cartier-list-container h2 {
	margin-bottom: 15px;
}
.cartier-list-container .half,
.cartier-list-container .full {
	width: 50%;
	float: left;
	padding: 0px 5px;
}
.cartier-list-container .full {
	width: 100%;
}
.contact .cartier-list-container .text-input {
	background: rgba(255, 255, 255, 0.1);
}
.contact .cartier-list-container textarea.text-input{
	height: 100px;
}
.button_container {
	float: left;
	width: 100%;	
}
::placeholder {
	color: #acacac;
}
/*-----------SIGN UP SECTION STYLES----------*/
.sign_up {
	height: auto;
	background: #000;
	padding-bottom: 50px;
	padding-top: 50px;
}
.text-input {
	display: inline;
	margin: 10px 0px;
	border: 1px solid #fff;
	padding: 10px 15px;
	background: transparent;
	width: 100%;
	/*border-radius: 6px;*/
	caret-color: #fff;
	color: #fff;
}
.sign-up-button {
	display: block;
	width: 100px;
	margin: 0 auto;
	border: 1px solid #acacac;
	padding: 10px;
	color: #fff;
	background: transparent;
	margin-top: 25px;
	font-size: 13px;
}
.sign-up-button:after {
    clear: both;
    height: 0;
    width: 100%;
    content: '';
    display: block;
}
/*-----------FOOTER STYLES----------*/

footer {
	background: #000;
	color: #fff;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	padding: 30px 0;
}
footer .icon-row {
	margin-bottom: 20px;
}
footer .icon-row a {
	text-decoration: none;
}
footer .icon-row img {
	width: 25px;
	height: 25px;
	margin: 5px;
	transition: all 0.5s ease;
}
footer .icon-row img:hover {
	transform: scale(1.1);
}
footer p {
	margin: 0;
	color: #acacac;
}
@media only screen and (max-width: 991px){
	.pace {
	    height: calc(100% * 2.5);
	    width: 250vh;
	}
}
@media only screen and (max-width: 767px){
	#canvas canvas {
		max-width: 700px;
		width: 100% !important;
	}
	/*#canvas.mobile canvas {
		display: block;
	}*/
	/*-----NAVBAR-----*/
	.navbar-brand {
		display: block;
	}
	.navbar {
		height: 125px;
		padding: 0;
		background-color: rgba(255, 255, 255, 0.9) !important;
	}
	.navbar .nav-item.logo {
		display: none;
	}
	.nav-item {
		display: block;
		width: 100%;
		text-align: center;
	}
	.nav {
		position: relative;
		left: 0;
		margin: 0;
		padding-top: 50px;
		padding-bottom: 20vh;
	}
	.navbar .logo .black {
		opacity: 1;
	}
	.navbar.small {
		padding: 0;
	}
	.navbar .nav {
		top: 62px;
	    height: calc(100vh - 125px) !important;
	}
	.navbar .nav {
		background: rgba(255, 255, 255, 0.95);
	}
	.text-input {
	    width: 100%;
	}
	.ticket-button {
	    padding: 10px;
	    font-size: 14px;
	}
	.cge_loader img {
    	height: 55vh;
    }
    .text-container {
        padding: 10px 10px 40px 10px;
    }
    .tickets .package_info li {
        font-size: 15px;
    }
    .accordion .link,
    .submenu li {
        font-size: 13px;
    }
    .navbar .nav-item .nav-link {
    	color: #000;
    }
    figure {
    	width: 160px;
    	height: 160px;
    }
    .parallax {
        height: 200vh;
        top: 25vh;
    }
    .nav-item {
        height: 40px;
        opacity: 0;
        transform: translateY(40px);
    }
    .collapsing {
        transition: height .6s ease;
    }
    .nav-item:nth-of-type(1){
    	transition-delay: 0ms;
    }
    .nav-item:nth-of-type(2){
    	transition-delay: 200ms;
    }
    /*Skip 5 as 5 is the hidden logo*/
    .nav-item:nth-of-type(4){
    	transition-delay: 400ms;
    }
    .nav-item:nth-of-type(5){
    	transition-delay: 600ms;
    }
    .navbar-collapse.show .nav-item {
        opacity: 1;
        transform: translateY(0);
    }
    .navbar .nav-item .nav-link {
    	padding: 0;
    }
}
@media only screen and (max-width: 479px){
	.image-container {
		display: block;
	}
	figure {
		width: 300px;
		height: 300px;
		margin: 0 auto;
		margin-bottom: 20px;
	}
	.text-container h1, h2 {
		margin-top: 20px;
	}
	.parallax {
	    height: 180vh;
	}
	footer p {
	    font-size: 13px;
	}
	.cartier-list-container .half {
		width: 100%;
	}
	.background_video {
		left: -50%;
	}
}
