/*--------------GENERAL STYLES--------------*/

body {
	background: #1D1D1D;
}/*
.navbar {
	background-color: transparent !important;
	height: 140px;
    padding-top: 30px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    transition: all 0.5s ease;
}
.nav {
	height: 140px;
	align-items: baseline;
    transition: all 0.5s ease;
}
.nav-item {
	height: 45px;
	margin: 10px;
}
.navbar .logo {
	height: 60px;
    width: 150px;
	margin-top: 3px;
	margin-left: 35px;
	margin-right: 35px;
}
.navbar .logo img {
	width: 150px;
	height: auto;
}
.navbar .logo .white,
.navbar .logo .black {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: all 0.5s ease;
}
.navbar .logo .white {
	opacity: 1;
}
.navbar .logo .black {
	opacity: 0;
}
.navbar .nav-item .nav-link {
	color: #fff;
	text-transform: uppercase;
	font-size: 15px;
	letter-spacing: 2px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
}
.navbar.small {
	background-color: rgba(255, 255, 255, 0.9) !important;
	height: 125px;
    padding-top: 15px;
    box-shadow: -1px 2px 19px 0px rgba(0,0,0,0.75);
}
.navbar-brand {
	display: none;
}
.navbar.small .nav {
	height: 120px;
}
.navbar.small .nav-item .nav-link {
	color: #000;
}
.navbar.small .logo .white {
	opacity: 0;
}
.navbar.small .logo .black {
	opacity: 1;
}
*/
/*---------------NEW NAV------------*/

.navbar-toggle.x  {
    position: fixed;
    right: 0;
}
.trigger {
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.bars {
  width: 60px;
}
.bars .line {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-width: 4;
  transition: stroke-dasharray 400ms,  stroke-dashoffset 400ms;
}
.bars .line.top {
  stroke-dasharray: 40 172;
}
.bars .line.middle {
  stroke-dasharray: 40 111;
}
.bars .line.bottom {
  stroke-dasharray: 40 172;
}
.bars.active .top {
  stroke-dashoffset: -132px;
}
.bars.active .middle {
  stroke-dashoffset: -71px;
}
.bars.active .bottom {
  stroke-dashoffset: -132px;
}
.navbar-default {
  background-color: none;
}
.navbar-default .navbar-nav li a {
  color: #555 !important;
}
.navbar-default .navbar-nav li a {
  color: #fff;
}
.navbar-default {
  background-color: rgba(255,255,255, 0.85);
}
.navbar-default .navbar-collapse {
  background-color: rgba(255,255,255, 0.85);
}
.navbar-default .bars .line {
  stroke: #fff;
}
.navbar-default .navbar-nav li a {
 color: #555 !important;
}
.navbar-default .nav_bg {
  background: rgba(255,255,255,0.8);
}
.navbar-default .navbar-brand .first {
  opacity: 1 !important;
}
.navbar-default  .navbar-brand .second {
  opacity: 0 !important;
}
.navbar-default .navbar-brand .first {
  opacity: 0 !important;
}
.navbar-default  .navbar-brand .second {
  opacity: 1 !important;
}
.navbar-brand.mobile .first {
  opacity: 0 !important;
}
.navbar-brand.mobile .second {
  opacity: 1 !important;
}
.navbar-default {
  z-index: 1001;
  color: white;
  margin: 0 auto;
  width: 100%;
  height: 65px;
  background: none;
  top: 0;
  left: 0;
  position: fixed;
  transition: all 0.4s ease;
}
.navbar-default .nav_bg {
  position: absolute;
  width: 100%;
  height: 0px;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  transition: height 0.6s ease, background-color 0.6s ease;
  z-index: -2;
}
.navbar-brand .first {
  opacity: 0 !important;
}
.navbar-brand .second {
  opacity: 1 !important;
}
.navbar-default .nav_bg {
  height: 100px;
}
.navbar-default .navbar-nav li a {
  color: #fff !important;
}
.navbar-default,
.navbar-default .navbar-collapse {
  background: rgba(0,0,0,0.9);
}
.navbar {
  border-radius: 0px 0px 0px 0px;
  border: 0px;
}
.navbar-nav {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: flex-end;
}
.navbar-nav li {
  float: none;
  display: inline-block !important;
}
.navbar-nav li:nth-of-type(1) {
  display: none !important;
}
.navbar-nav li:nth-of-type(2) .background-fill.full-width {
  background-color: rgba(247, 124, 121, 0.8);
}
.navbar-nav li:nth-of-type(3) .background-fill.full-width {
  background-color: rgba(242, 168, 85, 0.8);
}
.navbar-nav li:nth-of-type(5) .background-fill.full-width {
  background-color: rgba(125, 186, 249, 0.8);
}
.navbar-nav li:nth-of-type(6) .background-fill.full-width {
  background-color: rgba(247, 247, 144, 0.8);
}
/*
.navbar-nav li:nth-of-type(7) .background-fill.full-width {
  background-color: rgba(247, 247, 144, 0.8);
}*/
.container {
  width: auto;
  margin-left: 35px;
  margin-right: 45px;
}
.navbar-nav {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding-left: 15px;
  padding-top: 15px;
}
.navbar-nav li {
  display: inline-block !important;
  float: none;
}
.logo-img {
  position: absolute;
  z-index: 0;
  transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
}
.navbar-default .navbar-nav .active a, 
.navbar-default .navbar-nav .active a:focus, 
.navbar-default .navbar-nav .active a:hover {
  background: transparent;
}
.navbar-default .navbar-nav li,
.navbar-default .navbar-nav li a {
  font-size: 13px;
  display: inherit;
  line-height: 25px;
  border-radius: 12px;
  vertical-align: bottom;
}
.navbar-default .navbar-nav li a {
  color: white;
  font-family: 'Poppins';
  font-size: 14px;
  font-weight: 600;
  color: #e7e7e7;
  transition: all 0.4s ease;
  padding: 10px 15px 10px 15px;
  margin-right: 15px;
  margin-left: 15px;
}
.navbar-default .navbar-nav li {
  -webkit-animation-name: fadeNavElements;
  animation-name: fadeNavElements;
  opacity: 0;
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  transition: padding 0.5s ease;
}
.navbar-default .navbar-nav li:nth-of-type(4) {
  -webkit-animation-delay: 200ms;
  animation-delay: 200ms;
}
.navbar-default .navbar-nav li:nth-of-type(3),
.navbar-default .navbar-nav li:nth-of-type(5) {
  -webkit-animation-delay: 400ms;
  animation-delay: 400ms;
}
.navbar-default .navbar-nav li:nth-of-type(2),
.navbar-default .navbar-nav li:nth-of-type(6) {
  -webkit-animation-delay: 600ms;
  animation-delay: 600ms;
}
@-webkit-keyframes fadeNavElements {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeNavElements {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.navbar-default .navbar-nav .active a:focus {
  color: inherit;
}
.navbar-brand {
  display: inline-block;
  position: relative;
  float: unset;
  width: 50px;
  height: 50px;
  padding: 0px !important;
  font-size: unset;
  line-height: unset;
}
.navbar-brand.mobile {
  display: none;
  position: fixed;
  left: 0;
}
.navbar-brand.mobile .first {
  opacity: 1;
}
.navbar-brand.mobile .second {
  opacity: 0;
}
.navbar-brand img {
  width: 50px;
  height: 50px;
}
.navbar-brand .first,
.navbar-brand .second {
  position: absolute;
  transition: opacity 0.4s ease, width 0.6s ease, height 0.6s ease;
}
.navbar-brand .first {
  z-index: 1000;
}
.navbar-brand .second {
  z-index: 1001;
  opacity: 0;
}
.navbar-toggle {
  margin-top: 17px;
  float: right;
}
.navbar-default .navbar-toggle,
.navbar-default-home .navbar-toggle {
  border-color: transparent; /* Removes border color */
}
.navbar-default .navbar-toggle .icon-bar, .navbar-default-home .navbar-toggle .icon-bar {
    background-color: #5c6174;
}
.navbar-default .navbar-toggle:focus, 
.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}
.navbar-default .navbar-nav li a:focus {
  color: #fff;
}
.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-nav li:hover a {
  color: #fff !important;
  /*color: #e34c15 !important;*/
}
.navbar-toggle {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.navbar-default .navbar-collapse, 
.navbar-default .navbar-form {
  border: none; 
}
.navbar-collapse.in {
  overflow: hidden;
}
.navbar-collapse {
  transition: all 0.4s ease;
}
/*-----------MAIN SECTION STYLES----------*/

.main-banner {
	position: relative;
	height: 100vh;
	overflow: hidden;
}
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgb(2,0,36);
	background: linear-gradient(0deg, rgba(2,0,36,0) 0%, rgba(0,0,0,0.2) 60%);
}
.ticket-button {
	position: absolute;
	bottom: 10vh;
	left: 50%;
	transform: translate(-50%, 0%);
	border: 2px solid #fff;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	background: transparent;
	/*background: rgba(0, 0, 0, 0.5);*/
	color: #fff;
	padding: 20px;
	letter-spacing: 2px;
}
.parallax-wrapper {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
.parallax-wrapper .overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.parallax__container {
  clip: rect(0,auto,auto,0);
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}
.parallax.before-load {
  transform: scale(1.1) !important;
  opacity: 0;
}
.parallax {
  position: fixed;
  top: 0;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transform: translateZ(0px) !important;
  width: 100%;
  opacity: 1;
  transition: height 0.7s ease, transform 0.7s ease, opacity 0.7s ease;
}
/*animation: kenburns 110s infinite linear;*/

/* Rotate is needed for IE, otherwise it is jumpy */
/*@keyframes kenburns {
  50% {
    transform: scale(1.3) rotate(0.04deg);
  }*/
/*-----------ABOUT SECTION STYLES----------*/

.about {
	height: auto;
	background: #fff;
}
.about .text-container {
	max-width: 960px;
	margin: 0 auto;
	padding: 40px;
	text-align: center;
}
.about .text-container h1,
.contact .cartier-list-container h2 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	letter-spacing: 2px;
	text-align: center;
	margin-bottom: 30px;
}
.image-container {
	display: flex;
	justify-content: center;
}
figure {
	width: 250px;
	height: 250px;
	overflow: hidden;
	border-radius: 3px;
	margin: 10px;
}
.first, .second, .third {
	height: 100%;
}

/*-----------ABOUT SECTION STYLES----------*/
.contact {
	height: auto;
	background: #000;
	padding-bottom: 50px;
	padding-top: 50px;
}
.contact .cartier-list-container {
	width: 90vw;
	max-width: 600px;
	border: 1px solid #fff;
	padding: 20px;
	margin: 0 auto;
}
.contact .cartier-list-container h2,
.contact .cartier-list-container p {
	color: #fff;
	text-align: center;
}
.text-input {
	display: inline;
	margin: 5px;
	border: 1px solid #fff;
	padding: 10px 15px;
	background: transparent;
	width: 31%;
	border-radius: 6px;
	caret-color: #fff;
	color: #fff;
}
.sign-up-button {
	display: block;
	width: 100px;
	margin: 0 auto;
	border: 1px solid #acacac;
	padding: 10px;
	color: #fff;
	background: transparent;
	margin-top: 15px;
	border-radius: 6px;
	font-size: 13px;
}
/*--------RIPPLE EFFECTS-------*/

#container, #water {
 	background-image: url('../img/front_one.jpeg');
 	background-position: center bottom;
 	background-size: 100%;
 	background-repeat: no-repeat;
}
#container {
 	position: absolute;
 	top: calc(50% - 55vh);
 	left: calc(50% - 60vw);
 	height: 110vh;
 	width: 120vw;
 	margin-top: -40px;
}
#container:after {
	position: absolute;
	top: 10%;
	left: 2.5%;
	z-index: -1;
	content: '';
	display: block;
	height: 95%;
	width: 95%;
	background: #0f0f0f;
	filter: blur(30px);
}
#container #water {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 20vh;
	filter: url('#turbulence');
	overflow: hidden;
}

#canvas {
  /* make the canvas wrapper fits the window */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
.plane {
  /* define the size of your plane */
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.plane img {
  /* hide the img element */
  display: none;
  height: 100%;
}

/*-----------FOOTER STYLES----------*/

footer {
	background: #000;
	color: #fff;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	padding: 30px 0;
}
footer .icon-row {

}
footer .icon-row img {
	width: 25px;
	height: 25px;
	margin: 5px;
}
footer p {
	margin: 0;
}
@media only screen and (max-width: 991px){

}
@media only screen and (max-width: 767px){
	.navbar-brand {
		display: block;
	}
	#canvas canvas {
		max-width: 700px;
		width: 100% !important;
	}
	/*#canvas.mobile canvas {
		display: block;
	}*/
	.navbar .nav-item.logo {
		display: none;
	}
	.navbar-default {
		top: 0;
		right: 0;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		margin-top: 0px;
	}
	.navbar-collapse.in,
	.navbar-collapse.collapsing {
		margin-top: 0px;
	}
	.navbar-default .navbar-nav > li, .navbar-default .navbar-nav > li > a {
		font-size: 14px;
		line-height: 20px;
	}
	.navbar-nav {
		height: 105vh;
		display: flex;
		margin: 0 auto;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		margin-top: -80px;
	}
	.navbar-brand img {
		width: 45px;
		height: 45px;
	}
	.navbar-toggle {
		margin-right: 44px;
		top: 3px;
	}
	.navbar-default .navbar-nav > li, .navbar-default .navbar-nav > li > a {
		margin-top: 0px !important;
		font-size: 22px;
		padding: 10px 15px 5px 15px;
		margin-left: unset;
		margin-right: unset;
	}
	.navbar-collapse.in .navbar-nav li {
		transition: all 0.3s ease-in-out;
		opacity: 1 !important;
	}
	.navbar-default .navbar-nav li {
	-webkit-animation-name: unset;
	animation-name: unset;
	}
	.navbar-collapse .navbar-nav li {
	transform: translateY(25px);
	opacity: 0;
	transition: all 0.3s ease-in-out;
	width: 100%;
	margin-bottom: 10px;
	}
	.navbar-collapse.in .navbar-nav li {
	transform: translateY(0px);
	opacity: 1;
	margin-bottom: 10px;
	}
	.navbar-default .navbar-nav li a {
	color: #000;
	text-align: center;
	}
	.navbar-default .navbar-nav li:nth-of-type(1) {
	display: inline-block !important;
	transition-delay: 0.1s;
	}
	.navbar-default .navbar-nav li:nth-of-type(2) {
	transition-delay: 0.2s;
	}
	.navbar-default .navbar-nav li:nth-of-type(3) {
	transition-delay: 0.3s;
	}
	/*Do not display navbar brand in nav elements on mobile*/
	.navbar-default .navbar-nav li:nth-of-type(4) {
	display: none !important;
	}
	.navbar-default .navbar-nav li:nth-of-type(5) {
	transition-delay: 0.4s;
	}
	.navbar-default .navbar-nav li:nth-of-type(6) {
	transition-delay: 0.5s;
	}
	.navbar-nav {
	    width: 100%;
	    text-align: center; 
	    float: unset; 
	    text-align: center;
	}
	.navbar-brand.mobile {
	    display: inline-block;
	    margin-left: 30px;
	}
	.navbar-nav {
	    padding-left: unset;
	}
}
@media only screen and (max-width: 479px) {
  .title-text {
    top: 53.9%;
  }
  .title-text h1 {
    font-size: 2.25em;
  }
  .about, .portfolio, .skills, .experience, .contact {
    padding: 30px 30px;
  }
  .about h1, .portfolio h1, .skills h1, .experience h1, .contact h1 {
    font-size: 2.25em;
    margin-bottom: 30px;
  }
  .experience h1 {
    margin-bottom: 10px;
  }
  .contact h1 {
    margin-bottom: 30px;
  }
  .portfolio h1 {
    margin-bottom: 30px;
  }
  .navbar-collapse {
    margin-top: 7.5px;
  }
  .skill-item {
    width: 23%;
  }
  .skill-item:hover {
    transform: scale(1.05);
  }
  .navbar-default .navbar-nav > li, .navbar-default .navbar-nav > li > a {
    line-height: 30px;
    font-size: 25px;
    display: inherit;
    margin-top: 0px !important;
    margin-left: 0;
  }
  .experience-item {
    margin-bottom: 10px;
    margin-right: 0;
  }
  .work-experience {
    margin-bottom: 10px;
  }
  .contact-item {
    min-width: 100%;
    width: 100%;
    margin-bottom: 0px;
  }
  .portfolio-item {
    min-width: 100%;
    float: none;
    display: inline-block;
    margin-bottom: 10px;
  }
  .portfolio-description {
    right: 24px;
  }
  .navbar-toggle {
    margin-right: 31px;
  }
  .navbar-collapse {
    padding-right: 21px;
  }
  .title-text {
    max-width: 350px;
  }
  .view-work {
    font-size: 14px;
  }
  .fade-last {
    width: 118px;
  }
  .hidden-text {
    font-size: 12px; 
  }
  .navbar-brand.mobile {
    margin-left: 21px;
  }
  .portfolio-container {
    display: block;
  }
  .portfolio-logo {
    top: 125px;
    width: 40px;
    height: 40px;
  }
  .portfolio-item .description_text .name {
    opacity: 1;
    transform: none;
    right: 13px;
    bottom: 0;
  }
  .portfolio-item:hover .description_text .name {
    transform: translateY(0px);
  }
  .contact .contact-item {
    width: 100%;
    margin-bottom: 5px;
  }
  .navbar-collapse .navbar-nav li {
    transform: translateY(25px);
  }
  .navbar-collapse.in .navbar-nav li {
    transform: translateY(0px);
  }

}
@media only screen and (max-width: 479px){
	.navbar-default .navbar-nav > li, .navbar-default .navbar-nav > li > a {
    line-height: 30px;
    font-size: 25px;
    display: inherit;
    margin-top: 0px !important;
    margin-left: 0;
  }
}
